/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
}
.text-center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.flower {
  background: #fceef1;
  padding: 80px 0 30px 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-header {
  color: #272727;
  font-family: Lato;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
.flower-content {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.flower-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.banner-image {
  max-width: 100%;
}

.banner-image img {
  width: 400px;
  height: 550px;
}

/* Main Start */
main {
  padding: 80px 0;
}

.flower-common-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.flower-items {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.items img {
  width: 200px;
  height: 250px;
}
.item-one img {
  background: #f2dee7;
  padding: 60px 50px 0 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.item-two img {
  background: #d9eff1;
  padding: 60px 50px 0 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.item-three img {
  background: #e3ebdb;
  padding: 60px 50px 0 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.items a {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #272727;
  font-size: 18px;
  font-weight: 700;
}
/* Main End */

/* Feature Items Start */
.feature {
  padding: 20px 0 120px 0;
}
.feature-items {
  width: 915px;
  padding: 60px 40px;
  margin: 0 auto;
  background: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.feature-item img {
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
/* Feature Items End */

/* Discount Start */
.discount-header {
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.discount-image img {
  width: 250px;
  height: 320px;
}
.discount {
  padding: 0 0 80px 0;
}
.discount-flex {
  display: flex;
  justify-content: space-evenly;
}

.social {
  padding: 80px 0;
}

.ins-items {
  gap: 20px;
}
.ins-items img {
  width: 265px;
  height: 300px;
}
.discount-style {
  color: #e55473;
}
/* Discount End */

/* Flower Form start */
.form-main {
  padding: 40px 0 80px 0;
}
.form-heading {
  margin-bottom: 10px;
}
.flower-form {
  padding: 100px 0100px;
  width: 920px;
  background-image: url(../img/form.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 10px;
}
.flower-form-content input {
  width: 400px;
  height: 60px;
  padding-left: 15px;
  border: none;
  border-radius: 8px;
  background: #fff;
  margin-top: 20px;
}
.flower-form-content input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.form-btn {
  margin-left: 10px;
  width: 150px;
  height: 60px;
  border: none;
  color: #fff;
  border-radius: 8px;
  background: #e55473;
}
/* Flower Form end */

/* Footer Start */
footer {
  padding: 80px 0;
  background: #111010;
}
.flower-footer-content {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
.footer-color {
  color: rgba(255, 255, 255, 0.9);
}
.footer-style-one {
  color: #e55473;
}
.footer-style-two {
  color: #fff;
}
/* Footer End */
