/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background: #fceef1;
  padding: 80px 0 30px 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-header {
  color: #272727;
  font-family: Lato;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
.flower-content {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.flower-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.banner-image {
  max-width: 100%;
}

.banner-image img {
  width: 400px;
  height: 550px;
}

/* Main Start */

/* Main End */
